body {
	font-family: Arial;
	font-size: 8pt;
	color: Black;
	background-color: White;
}

.title {
  font-size : 16pt;
  font-weight: bold;
  text-align: center;
}

td {
	font-family: Arial;
	font-size: 8pt;
	text-align: center;	
	color: Black;
	background-color: White;
	padding: 10px 10px 10px 10px;
}

img {
	border: 0;
}

a {
	color: Black;	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:hover img#thumbimage {
	text-decoration: none;
}

.navigation {
}

.navigationline {
  padding: 2px 0px;
}

.navlink {
  text-align: center;
  display: inline;
	color: Black;	
	font-size: 8pt;
	font-weight : bold;
  padding-left: 5px;
  padding-right: 5px;
}

.navlink#current {
  border: solid 1px;
}

.navlink a {
	text-decoration: none;
	color: Black;	
	font-size: 8pt;
	font-weight : bold;
}

.navlink a:hover {
	text-decoration: underline;
}

